<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <payment>
      <opcheckout>
        <title>Op Checkout</title>
        <model>OpCheckoutAdapter</model>
        <order_status>processing</order_status>
        <payment_action>authorize_capture</payment_action>
        <active>0</active>
        <is_gateway>0</is_gateway>
        <merchant_id></merchant_id>
        <merchant_secret></merchant_secret>
        <allowspecific>0</allowspecific>
        <can_initialize>1</can_initialize>
        <can_use_checkout>1</can_use_checkout>
        <can_authorize>1</can_authorize>
        <can_use_internal>1</can_use_internal>
        <can_capture>0</can_capture>
        <can_capture_partial>0</can_capture_partial>
        <can_refund>1</can_refund>
        <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
        <logo>https://cdn2.hubspot.net/hubfs/2610868/ext-media/op-psp-master-logo.svg</logo>
        <!--logo>https://checkout.fi/wp-content/uploads/checkout-logo-pysty-RGB.png</logo-->

      </opcheckout>
    </payment>
  </default>
</config>
