<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <payment>
      <opcheckout>
        <title>Op Payment Service</title>
        <model>OpCheckoutAdapter</model>
        <order_status>processing</order_status>
        <payment_action>authorize_capture</payment_action>
        <active>0</active>
        <is_gateway>0</is_gateway>
        <merchant_id></merchant_id>
        <merchant_secret></merchant_secret>
        <allowspecific>0</allowspecific>
        <can_initialize>1</can_initialize>
        <can_use_checkout>1</can_use_checkout>
        <can_authorize>1</can_authorize>
        <can_use_internal>1</can_use_internal>
        <can_capture>0</can_capture>
        <can_capture_partial>0</can_capture_partial>
        <can_refund>1</can_refund>
        <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
        <response_log>0</response_log>
        <request_log>0</request_log>
        <generate_reference>1</generate_reference>
        <recommended_tax_algorithm>0</recommended_tax_algorithm>
        <logo>https://cdn2.hubspot.net/hubfs/2610868/Logot/op-logo-30x30px.png</logo>
        <op_personalization>
          <payment_group_bg>#ebebeb</payment_group_bg>
          <payment_group_text>#323232</payment_group_text>
          <payment_group_highlight_bg>#007b90</payment_group_highlight_bg>
          <payment_group_highlight_text>#f2f8f9</payment_group_highlight_text>
          <payment_group_hover>#d0d0d0</payment_group_hover>
          <payment_method_highlight>#007b90</payment_method_highlight>
          <payment_method_hover>#007b90</payment_method_hover>
          <advanced_op_personalization>
            <additional_css></additional_css>
          </advanced_op_personalization>
        </op_personalization>
      </opcheckout>
    </payment>
  </default>
</config>
