<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <preference for="Op\Checkout\Api\RedirectInterface" type="Op\Checkout\Model\Redirect" />
  <virtualType name="SalesOrderViewWidgetContext" type="\Magento\Backend\Block\Widget\Context">
    <arguments>
      <argument name="buttonList" xsi:type="object">Op\Checkout\Block\Adminhtml\Order\View\ButtonList</argument>
    </arguments>
  </virtualType>
  <type name="Magento\Sales\Block\Adminhtml\Order\View">
    <arguments>
      <argument name="context" xsi:type="object">SalesOrderViewWidgetContext</argument>
    </arguments>
  </type>

  <virtualType name="OpCheckoutAdapter" type="Magento\Payment\Model\Method\Adapter">
    <arguments>
      <argument name="code" xsi:type="const">Op\Checkout\Model\ConfigProvider::CODE</argument>
      <argument name="formBlockType" xsi:type="string">Op\Checkout\Block\Form\Checkout</argument>
      <argument name="infoBlockType" xsi:type="string">Op\Checkout\Block\Info\Checkout</argument>
      <argument name="valueHandlerPool" xsi:type="object">OpCheckoutValueHandlerPool</argument>
      <argument name="commandPool" xsi:type="object">OpCheckoutCommandPool</argument>
      <argument name="validatorPool" xsi:type="object">OpCheckoutValidatorPool</argument>
    </arguments>
  </virtualType>


  <virtualType name="OpCheckoutConfig" type="Magento\Payment\Gateway\Config\Config">
    <arguments>
      <argument name="methodCode" xsi:type="const">Op\Checkout\Model\ConfigProvider::CODE</argument>
    </arguments>
  </virtualType>
  <virtualType name="OpCheckoutConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
    <arguments>
      <argument name="configInterface" xsi:type="object">OpCheckoutConfig</argument>
    </arguments>
  </virtualType>
  <virtualType name="OpCheckoutValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
    <arguments>
      <argument name="handlers" xsi:type="array">
        <item name="default" xsi:type="string">OpCheckoutConfigValueHandler</item>
      </argument>
    </arguments>
  </virtualType>

  <virtualType name="OpCheckoutCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
    <arguments>
      <argument name="commands" xsi:type="array">
        <item name="initialize" xsi:type="string">Op\Checkout\Gateway\Command\Initialize</item>
        <item name="refund" xsi:type="string">OpCheckoutRefundCommand</item>
      </argument>
    </arguments>
  </virtualType>

  <virtualType name="OpCheckoutRefundCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
    <arguments>
      <argument name="requestBuilder" xsi:type="object">OpCheckoutRefundRequest</argument>
      <argument name="transferFactory" xsi:type="object">Op\Checkout\Gateway\Http\TransferFactory</argument>
      <argument name="client" xsi:type="object">Op\Checkout\Gateway\Http\Client\TransactionRefund</argument>
      <argument name="validator" xsi:type="object">Op\Checkout\Gateway\Validator\RefundResponseValidator</argument>
      <argument name="handler" xsi:type="object">Op\Checkout\Gateway\Request\RefundHandler</argument>
    </arguments>
  </virtualType>

  <virtualType name="OpCheckoutRefundRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
    <arguments>
      <argument name="builders" xsi:type="array">
        <item name="refund" xsi:type="string">Op\Checkout\Gateway\Request\RefundDataBuilder</item>
      </argument>
    </arguments>
  </virtualType>

  <virtualType name="OpCheckoutCountryValidator" type="Op\Checkout\Gateway\Validator\CountryValidator">
    <arguments>
      <argument name="config" xsi:type="object">Op\Checkout\Gateway\Config\Config</argument>
    </arguments>
  </virtualType>
  <virtualType name="OpCheckoutValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
    <arguments>
      <argument name="validators" xsi:type="array">
        <item name="country" xsi:type="string">OpCheckoutCountryValidator</item>
      </argument>
    </arguments>
  </virtualType>

  <type name="Op\Checkout\Logger\Request\Request">
    <arguments>
      <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
    </arguments>
  </type>
  <type name="Op\Checkout\Logger\Request\Logger">
    <arguments>
      <argument name="name" xsi:type="string">Op Request Logger</argument>
      <argument name="handlers"  xsi:type="array">
        <item name="debug" xsi:type="object">Op\Checkout\Logger\Request\Request</item>
      </argument>
    </arguments>
  </type>

  <type name="Op\Checkout\Logger\Response\Response">
    <arguments>
      <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
    </arguments>
  </type>
  <type name="Op\Checkout\Logger\Response\Logger">
    <arguments>
      <argument name="name" xsi:type="string">Op Response Logger</argument>
      <argument name="handlers"  xsi:type="array">
        <item name="debug" xsi:type="object">Op\Checkout\Logger\Response\Response</item>
      </argument>
    </arguments>
  </type>
</config>
