<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <group id="opcheckout" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>OP Payment Service</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="0" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1"
                       showInStore="1" canRestore="1">
                    <label>Title</label>
                </field>
                <field id="debuglog" translate="label" type="select" sortOrder="10" showInDefault="1">
                    <label>Debug Log</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="merchant_id" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                       showInStore="1" canRestore="1">
                    <label>Merchant ID</label>
                </field>
                <field id="merchant_secret" translate="label" type="obscure" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Merchant Secret</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="order_status" translate="label" type="select" sortOrder="40" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>New Order Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status\Newprocessing</source_model>
                </field>
                <field id="recipient_email" translate="label" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Email Address For Notifications</label>
                </field>
                <field id="skip_bank_selection" translate="label" type="select" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Skip payment method selection</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="50" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="51" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Payment from Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="response_log" translate="label" type="select" sortOrder="52" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enable OP Payment Service response logging</label>
                    <comment>Log file: var/log/op_payment_service_response.log</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="request_log" translate="label" type="select" sortOrder="53" showInDefault="1"
                       showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enable OP Payment Service request logging</label>
                    <comment>Log file: var/log/op_payment_service_request.log</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="generate_reference" translate="label" type="select" sortOrder="60" showInDefault="1"
                       showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Generate Finnish reference number for orders</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <group id="op_personalization" translate="label" type="text" sortOrder="90" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Payment page personalization</label>
                    <comment>Hex color codes for payment page elements</comment>

                    <field id="payment_group_bg" translate="label comment" sortOrder="1" type="text"
                           showInDefault="1"
                           showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Payment group background color</label>
                    </field>
                    <field id="payment_group_text" translate="label comment" sortOrder="2" type="text"
                           showInDefault="1"
                           showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Payment group text color</label>
                    </field>
                    <field id="payment_group_highlight_bg" translate="label comment" sortOrder="10" type="text"
                           showInDefault="1"
                           showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Highlighted payment group background color</label>
                    </field>
                    <field id="payment_group_highlight_text" translate="label comment" sortOrder="11" type="text"
                           showInDefault="1"
                           showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Highlighted payment group text color</label>
                    </field>
                    <field id="payment_group_hover" translate="label comment" sortOrder="11" type="text"
                           showInDefault="1"
                           showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Payment group hover color</label>
                    </field>
                    <field id="payment_method_highlight" translate="label comment" sortOrder="20" type="text"
                           showInDefault="1"
                           showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Highlighted payment method color</label>
                    </field>
                    <field id="payment_method_hover" translate="label comment" sortOrder="21" type="text"
                           showInDefault="1"
                           showInWebsite="1" showInStore="1" canRestore="1">
                        <label>Payment method hover highlight</label>
                    </field>
                    <group id="advanced_op_personalization" translate="label" type="text" sortOrder="90" showInDefault="1"
                           showInWebsite="1" showInStore="1">
                        <label>Advanced</label>
                        <field id="additional_css" translate="label comment" sortOrder="21" type="textarea"
                               showInDefault="1"
                               showInWebsite="1" showInStore="1" canRestore="1">
                            <label>Additional CSS</label>
                            <comment>Add styles in this fomat: .classname { background-color:blue; }</comment>
                        </field>
                    </group>
                </group>
            </group>
        </section>
    </system>
</config>
