.checkout-payment-methods {
  margin-bottom: 20px;
}

.checkout-payment-methods:after {
  content: "";
  display: table;
  clear: both;
}

.checkout-group-title {
  padding-left:1em;
  padding-top:2px;
  width: 40%;
  display:table-cell;
  vertical-align:middle;
}

.checkout-logo {
  display: inline-block;
  position: relative;
  width: 200px;
}

.checkout-logo-container {
  height: 30px;
  width: 100%;
  position: absolute;
  left: 0px;
  top: -20px;
}

.checkout-logo img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: auto;
}

.checkout-payment-methods .checkout-payment-method {
  display: inline-block;
  margin-bottom: 1%;
  margin-right: 1%;
  border: 1px solid #e3e3e3;
  width: 19.2%;
  box-sizing: border-box;
  text-align: center;
  padding: 5px 10px;
}

.checkout-group-header-wrapper {
  display:table;
  width: 100%;
  height:5.5em;
}

.checkout-group-wrapper {
  display:table;
  height:100%;
  width: 100%;
}

.checkout-group-logo {
  float:left;
  padding-right:1em;
}

.checkout-group-title span {
  line-height:2.3em;
}

.checkout-group-method-list {
  vertical-align: middle;
  height: 80%;
  display:table-cell;
  text-align:right;
}

.checkout-group-method-list ul {
  padding-right:2em;
  vertical-align:middle;
}

.checkout-group-method-list li {
  display: inline;
  font-size: 1.2rem;
  font-style: italic;
  padding-top:1.5em;
}

.checkout-group-method-list li:after {
  content: ",";
}

.checkout-group-method-list li:last-child:after {
  content: "";
}

.checkout-group-collapsible.active .checkout-group-logo img {
  filter: invert(100%) brightness(120%);
}

.checkout-payment-methods .checkout-payment-method-title {
  font-size: 0.9em;
  white-space: nowrap;
  margin-bottom: 3px;
  display: none; /* Hidden for now, maybe shown by overriding this in a theme */
}

.checkout-payment-methods .checkout-payment-method input[type="radio"] {
    display:none;
}

.checkout-payment-methods .checkout-payment-method:nth-child(5n+0) {
  margin-right: 0;
}

.checkout-payment-methods .checkout-payment-method-logo {
  width: 120px;
  height: 60px;
  margin: auto;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.checkout-payment-methods .checkout-payment-method-logo img {
  width: auto;
  height: 90%;
}

@media only screen and (max-width : 1023px) {
  .checkout-payment-methods .checkout-payment-method {
    width: 24.2%;
  }

  .checkout-payment-methods .checkout-payment-method:nth-child(5n+0) { margin-right: 1%; }
  .checkout-payment-methods .checkout-payment-method:nth-child(4n+0) { margin-right: 0; }

  .checkout-group-method-list ul {
    font-size: 1.0rem;
  }

  .checkout-group-title span {
    line-height:1.8em;
  }

}

@media only screen and (max-width : 767px) {
  .checkout-payment-methods .checkout-payment-method {
    width: 32.6%;
  }

  .checkout-payment-methods .checkout-payment-method:nth-child(4n+0) { margin-right: 1%; }
  .checkout-payment-methods .checkout-payment-method:nth-child(3n+0) { margin-right: 0; }
}

@media only screen and (max-width : 500px) {

  .checkout-group-header-wrapper {
    height:8em;
  }
  .checkout-group-method-list {
    max-width:75%;
    text-align: left;
    float:left;
  }

  .checkout-group-method-list ul {
    padding-left:1.5em;
    width: 25em;
  }

  .checkout-group-title {
    display: inline;
    padding-top:1em;
    float:left;
  }

}

@media only screen and (max-width : 320px) {
  .checkout-payment-methods .checkout-payment-method {
    width: 49%;
  }

  .checkout-payment-methods .checkout-payment-method:nth-child(5n+0),
  .checkout-payment-methods .checkout-payment-method:nth-child(4n+0),
  .checkout-payment-methods .checkout-payment-method:nth-child(3n+0) { margin-right: 2%; }
  .checkout-payment-methods .checkout-payment-method:nth-child(2n+0) { margin-right: 0; }
}
