.checkout-group-header-wrapper {
  display:flex;
  height:auto;
  padding:1.5em 1em 1.5em 1em;
  align-items: center;
  justify-content: space-between;
}

.checkout-group-wrapper {
  display:table;
  height:100%;
  width: 100%;
}

.checkout-payment-terms-container {
  font-size: 0.9em;
  padding-top:1em;
  padding-bottom: 1em;
}

.checkout-payment-terms-container  a{
    text-decoration: underline;
}

.checkout-group-title {
  display:flex;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 60%;
}

.checkout-group-title span {
  line-height:1.8em;
  font-size:1.2em;
  display: table-cell;
}

.checkout-group-method-list {
  max-width:60%;
  text-align:right;
}

.checkout-group-method-list li {
  display: inline;
  font-size: 1.3rem;
  font-style: italic;
}

.checkout-group-method-list li:after {
  content: ",";
}

.checkout-group-method-list li:last-child:after {
  content: "";
}

.checkout-logo {
  display: inline-block;
  position: relative;
  width: 100px;
}

.checkout-logo-container {
  height: 30px;
  width: 100%;
  position: absolute;
  left: 0px;
  top: -20px;
}

.checkout-logo img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: auto;
}

.checkout-payment-methods .checkout-payment-method {
  display: inline-block;
  margin-bottom: 1%;
  margin-right: 1%;
  border: 1px solid #e3e3e3;
  width: 18.6%;
  box-sizing: border-box;
  text-align: center;
  padding: 5px 10px;
}

.checkout-payment-methods {
  margin-bottom: 20px;
}

.checkout-payment-methods:after {
  content: "";
  display: table;
  clear: both;
}

.checkout-group-logo {
  margin-right:1em;
}

.checkout-group-collapsible.active img {
  filter: invert(100%) brightness(120%);
}

.checkout-payment-methods .checkout-payment-method-title {
  font-size: 0.9em;
  white-space: nowrap;
  margin-bottom: 3px;
  display: none; /* Hidden for now, maybe shown by overriding this in a theme */
}

.checkout-payment-methods .checkout-payment-method input[type="radio"] {
  display:none;
}

.checkout-payment-methods .checkout-payment-method:nth-child(5n+0) {
  margin-right: 0;
}

.checkout-payment-methods .checkout-payment-method-logo {
  width: 120px;
  height: 60px;
  margin: auto;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.checkout-payment-methods .checkout-payment-method-logo img {
  width: auto;
  height: 90%;
}

@media only screen and (max-width : 1023px) {
  .checkout-payment-methods .checkout-payment-method {
    width: 23.6%;
  }

  .checkout-payment-methods .checkout-payment-method:nth-child(5n+0) { margin-right: 1%; }
  .checkout-payment-methods .checkout-payment-method:nth-child(4n+0) { margin-right: 0; }

  .checkout-group-method-list li {
    font-size: 1.2rem;
  }

  .checkout-group-title span {
    font-size: 1.1em;
  }

}

@media only screen and (max-width : 767px) {
  .checkout-payment-methods .checkout-payment-method {
    width: 32%;
  }

  .checkout-group-method-list li {
    font-size: 1.3rem;
  }

  .checkout-payment-methods .checkout-payment-method:nth-child(4n+0) { margin-right: 1%; }
  .checkout-payment-methods .checkout-payment-method:nth-child(3n+0) { margin-right: 0; }
}

@media only screen and (max-width : 550px) {

  .checkout-group-header-wrapper {
    flex-wrap: wrap;
    padding: 0 1em 1em 0;
  }

  .checkout-group-title {
    padding-top:1em;
    padding-left: 1em;
    max-width:100%;
  }

  .checkout-group-method-list {
    text-align: left;
    padding-top:0.8em;
    max-width: 90%;
    width: 90%;
  }

  .checkout-group-method-list ul {
    padding-left:1.2em;
  }

  .checkout-payment-methods .checkout-payment-method:nth-child(3n+0) { margin-right: 1%; }
  .checkout-payment-methods .checkout-payment-method:nth-child(2n+0) { margin-right: 0; }

  .checkout-payment-methods .checkout-payment-method {
    width: 48.5%;
  }

}
